* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Carrois Gothic SC", sans-serif;
  width: auto;
}

body {
  height: 100vh;
  background: linear-gradient(45deg, white, lightgray);
}

/* NAVBAR BEFORE THE APP */
.navbar {
  width: 100%;
  font-size: larger;
  margin-right: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.login {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.login > div > input {
  width: 80%;
  position: relative;
}

.msg {
  transition: .8s;
  position: absolute;
}

.login > div > input:hover {
  border: 2px solid lightgray;
  transition: .1s;
}

.login-btn {
  margin: 0;
  padding: 0;
}

img {
  height: 5rem;
}

/* MAIN APP */
.main {
  transition: all .5s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  margin: 0 auto;
  gap: 2rem;
  margin-top: 1rem;
  justify-content: space-between;
  width: 80%;
  height: fit-content;
}

.error {
  font-size: .8rem;
  color: #ce2037;
}

.hidden {
  /* opacity: 0; */
}

.cont-1 {
  /* background-color: yellow; */
/* width: 100%; */
}

.cont-2 {
  /* background-color: greenyellow; */
  /* width: 50%; */
}

/* FIRST CONT */
.current-balance {
  font-size: 1.5rem;
}

.transitions {
  margin-top: 1rem;
  background-color: white;
  padding: 1rem;
  height: 60vh;
  overflow-y: auto;
  border-radius: .5rem;
}

.summary {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  font-size: smaller;
}

.income, .interest {
  color: #378b29;
  font-size: larger;
}

.outcome {
  color: #ce2037;
  font-size: larger;
}

.sort {
  font-size: .5rem;
}

/* SECOND CONT*/
.date {
  font-size: 1rem;
  color: gray;
}

.balance-sum{
  font-size: 2.5rem;
  text-align: right;
}

.operations {
  margin-top: 1rem;
  display: grid;
  gap: 0.5em;
  height: 60vh;
}

.operations input {
  opacity: .5;
  width: 12rem;
}

.logout {
  margin-top: 1rem;
}

input {
  padding: 0.5rem;
  border-radius: 5rem;
  border: transparent;
  text-align: center;
  font-size: .9rem;
  width: 10rem;
}

button {
  background-color: transparent;
  width: 10%;
  border: transparent;
  transform: scale(2);
  margin-left: 1rem;
  cursor: pointer;
}

button:hover {
  color: orangered;
  transition: .3s;
}

.transfer {
  padding: 1rem;
  background-color: #f42b03;
  background-image: linear-gradient(316deg, #f48403 0%, #ffbe0b 74%);  
  border-radius: .5rem;
  align-items: center;
  justify-content: center;
  
}

.transfer-form {
  margin-top: 1rem;
  /* display: grid; */
  gap: 0.5rem;
  margin-right: 1rem;
}

.transfer-form > button {
  background-color: whitesmoke;
  height: fit-content;
  margin-top: .5rem;
  padding: 0 .5rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
}

.transfer > div {
  display: flex;
  text-align: center;
}

.request {
  padding: 1rem;
  background-color: #378b29;
  background-image: linear-gradient(315deg, #378b29 0%, #43ce54 74%);
  border-radius: .5rem;
}

.close {
  padding: 1rem;
  background-color: #f71735;
  background-image: linear-gradient(147deg, #ce2037 0%, #db3445 74%);
  border-radius: .5rem;
}

/* transitions */
.transition:last-of-type {
  border-bottom: none; /* Remove the border for the last .transition element */
}

.transition {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: .1rem solid lightgray;
  gap: 1rem;
}

.transition-type {
  white-space: nowrap;
  width: fit-content;
}

.transition-sum {
  text-align: end;
  font-size: 1.1rem;
}

.deposit {
  background-color: #378b29;
  background-image: linear-gradient(315deg, #378b29 0%, #43ce54 74%);
}

.withdrawal {
  background-color: #f71735;
  background-image: linear-gradient(147deg, #ce2037 0%, #db3445 74%);
}

.deposit, .withdrawal {
  text-align: center;
  padding: 0 0.35rem 0 0.35rem;
  border-radius: 1rem;
  width: fit-content;
  color: whitesmoke;
}

.transitions::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.transitions::-webkit-scrollbar-track {
  background: transparent;
}

.transitions::-webkit-scrollbar-thumb {
  background-color: #b6b6b6; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}


